<a href="https://colab.research.google.com/github/PavicicJadranko/Machine-Learning-Project/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predicting survival on the Titanic shipwreck using machine learning

This notebook looks into using varius Pythone_based machine learning and data science libraries in an attempt to build a machine learning model capable of predicting whether or not someone has survived on the Titanic based on the given passengers information.

We are going to take the following approach:
1. Problem definitio
2. Data
3. Evaluation
4. Features
5. Modeling
6. Experimentation

## 1. Problem definition
In a statement
> Given information about a passenger, can we predict whether or not they would survive the Titanic shipwreck?

## 2. Data

The data is availabel on Kaggle:
https://www.kaggle.com/competitions/titanic/data

## 3. Evaluation

> If we can reach 95% accuracy at predicting whether or not a passenger would survive the Titanic shipwreck, we'll pursue the project.

## 4. Features

Below you will get different informations about each of the features in your data.

1. survival: Survival
* 0 = No
* 1 = Yes
2. pclass:	Ticket class
* 1 = 1st
* 2 = 2nd
* 3 = 3rd
3. sex:	Sex
4. Age:	Age in years
5. sibsp:	of siblings / spouses aboard the Titanic
6. parch:	of parents / children aboard the Titanic
7. ticket:	Ticket number
8. fare:	Passenger fare
9. cabin:	Cabin number
10. embarked:	Port of Embarkation
* C = Cherbourg
* Q = Queenstown
* S = Sout

## Prepering the tools
We're going to use pandas, numpy, seaborn and matplotlib for data analysis and visualization.

In [2]:
# Regular EDA and ploting libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# For showing the plot in jupyter notebook
%matplotlib inline

## Load Data

In [4]:

df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Titanic/train.csv")
df.shape

(891, 12)

## Data Exploration (EDA)

The goal here is to find out more about data and become a subject matter export on the dataset you're working with

In [6]:
df.head(7) # First 7 passengers in the DataFrame

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S

In [7]:
df.tail(7) # Last 7 passengesr in the DataFrame

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.125,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.450,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.750,NaN,Q